html,body {
  font-family: 'Raleway', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: #e4f5f5;
  color: #074566;
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  font-size: 2em;
}

div.scrollmenu {
    overflow: auto;
    text-align: center;;
    white-space: nowrap;
    position:relative;
    margin-top:30%;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
