html,body {
  font-family: 'Lato', sans-serif;
  padding: 1em 2em;
  font-size: 18px;
  background: #FFFFFF;
  color: #074566;
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { font-size: 3.5em; }
h2 {
  font-size: 2em;
}

div { 
  text-align: center; 
}

p { 
  text-align: center; 
  font-size: 2em;
}

br {
  text-align: center;
}

img {

  width: 15%;
  height: 15%;
}

#circle {
    width: 20px;
    height: 20px;
    background: #C0C0C0;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 20px;
    

}

#menu {

  position: fixed;
    right: 8%;
    top: 50%;
    margin-top: -5em;
}


#rect {
  width: 500px;
  padding: 10px;
  border: 5px solid #C0C0C0;
  background: white;
  margin: 10px; 
  color: #074566;
}

#smallrect {
  width: 300px;
  padding: 10px;
  border: 1px solid #C0C0C0;
  margin: auto;
}


